*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #664343;
    align-items: center;    
}

/* nav bar styling */

.navbar{
    display: flex;
    color: #F7F7F7;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-top: 1rem;
    width: 90%;
    align-items: center;
}

.logo{
    font-family: "Montserrat", sans-serif;
    font-size: 2.3rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo>img{
    height: 60px;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    font-weight: 600;
    font-size: 1.5rem;
    column-gap: 3rem;
}

.item {
    transition: all .3s ease-out;
    padding: 10px 20px;
    border-radius: 5px;

}

.item:hover {
    background-color: #F7F7F7;
}

.item > a {
    text-decoration: none;
    color: #F7F7F7;
    transition: all .3s ease-out;
}

.item:hover > a {
    color: #664343;
}

.menu-icon{
    display: none;
}

/* Hero section */

.hero>img{
    height: 400px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
    border-radius: 2px;
    gap: 5rem;
    font-size: 3.5rem;
    font-weight: 900;
    color: #F7F7F7;
}

.sub-title{
    font-family: "Fascinate", system-ui;   
}


/* menu section */

.menu{
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding: 2rem;
   gap: 2rem;
   background-color: #F7F7F7;
   border-radius: 10px;
   margin: 1rem 0;
}

.menu-type a{
    color: #664343;
    font-size: 2.5rem;
}

.menu-type a:hover{
    opacity: 80%;
}

.menu-type > hr{
    background-color: rgb(94, 94, 94);
    width: 3px;
    border: none;
    border-radius: 5px;
}

.menu-type{
    display: flex;
    justify-content: space-evenly;
    column-gap: 3rem;
    margin-bottom: 2rem;
}

.frame{
    width: 100%;
    min-height: 90vh;
    border: none;
}

.menu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}


.cofee{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 200px;
    background-color: #fff;
    border-color: #008bf8;
    border-radius: 20px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;    
}

.card:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.card > img{
    width: 45%;
}

.cost{
    background-color: #664343;
    border-radius: 6px;
    width: 6rem;
    color: #F7F7F7;
    margin-top: 1rem;
}

#animated-gif{
    animation: float 1s ease-in-out 0.5s infinite alternate both;
    cursor: pointer;
} 

#animated-gif:hover{
    animation-play-state: paused;
}

.hero h2{
    animation: fade_in 0.7s ease-in-out 0.5s 1 alternate both;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    
    100%{
        transform: translateY(10px);
    }
}

@keyframes fade_in {
    0%{
        /* transform: translateX(200px); */
        opacity: 0;
        transform: scale(1.5);
    }
    
    100%{
        /* transform: translateX(50px); */
        opacity: 1;
        transform: scale(1);
    }
}


@media(width<=576px){
    .navbar{
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .logo{
        font-size: 2.7rem;
    }
    .nav-menu{
        display: none;
    }
    .menu-icon{
        display: block;
        height: 35px;
    }

    html{
        font-size: 10px;
    }

    .hero>img{
        height: 300px;
        padding: 20px;
    }
    
    .hero{
        flex-direction: column;
        text-align: center;  
        font-size: 3rem;
    }

    .menu>h1{
        font-size: 3rem;
    }

    .cofee{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        font-size: 1.5rem;
    }

    .price{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

