*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f9f9f9;
}
.tag-title {
  color: #000000;
  margin-bottom: 5px;
}
.tag-description {
  color: #169976;
  margin-bottom: 20px;
}
